.nvItem {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
  /* margin-bottom: 5px; */
}

.info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nvItem:hover .tools{
  opacity: 1;
}

.tools {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

