.nhacViet {
  width: 650px;
  /* display: flex; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 10px;
}

.nvList {
  padding-left: 0;
  width: 100%;
  margin-top: 10px;
}

.nvList li {
  list-style: none;
}

.hot {
  border-right: 1px solid #f2f2f2;
}