@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerWrapper {
  position: fixed;
  width: 100vw;
  height: 70px;
  bottom: 0;
  left: 0;
  background-image: url('https://zjs.zadn.vn/zmp3-desktop/releases/v0.2.5/images/bg-miniplayer-v1.png');
 

  .player {
    @include flex-center;
    height: 100%;
    z-index: 100;

    span {
      cursor: pointer;
      color: #fff;
      border-radius: 50%;

      
    }

    .controls {
      @include flex-center;
      padding: 0 40px 0 0;

      .controlBtn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 24px;
        margin: 0 6px;
        cursor: pointer;
        @include flex-center;
        &:hover, &.active {
          background-color: rgba(255, 255, 255, 0.2);
        }


      }

      .playPause {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 24px;
        margin: 0 5px;
        border: 2px solid #fff;
        cursor: pointer;
        @include flex-center;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      span {
        color: #fff;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      height: 100%;
      color: #fff;

      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.02);
          transition: 0.3s;
        }
      }

      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 100%;
        padding: 0 10px;

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0 6px 0 0;
          font-size: 12px;
          opacity: 0.9;

          .songName {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .duration {
            font-size: 10px;
          }
        }

        .playProcess {
          width: 100%;
        }
      }
      
    }


    .features {
      @include flex-center;

      .featuresBtn{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        font-size: 18px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        @include flex-center;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }



        .volumeSlider{
          position: absolute;
          display: none;
          bottom: 100%;
          left: 0;
          height: 100px;
          width: 26px;
          text-align: center;
          z-index: 101;
          background-color: #2e2e2e;
          border-radius: 4px;
          padding: 12px 6px;
        }

        &:hover {
          .volumeSlider{
            display: block;
             
          }
        }
      }
    }

    .divider {
      width: 1px;
      height: 46px;
      background-color: rgba(219,219,219,.3);
      margin-right: 15px;
    }

    // .playListContainer {
    //   position: relative;

    //   .playListBtn {
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    //     color: #fff;
    //     background-color: rgba(219,219,219,.1);
    //     cursor: pointer;
    //     padding: 8px 16px; 
    //     border-radius: 4px;
    //     font-size: 12px;
    //     width: 160px;
  
    //     &:hover {
    //       color: rgb(204, 204, 204);
    //     }
    //   }
    // }
  }
}